<h1>Editing Exam Reference Score</h1>

<%= render 'form', exam_reference_score: @exam_reference_score %>

<%= link_to 'Show', @exam_reference_score %> |
<%= link_to 'Back', exam_reference_scores_path %>
