<h1>Editing Exam Difficulty Breakup</h1>

<%= render 'form', exam_difficulty_breakup: @exam_difficulty_breakup %>

<%= link_to 'Show', @exam_difficulty_breakup %> |
<%= link_to 'Back', exam_difficulty_breakups_path %>
