<h1>Editing User Exam Difficulty Breakup</h1>

<%= render 'form', user_exam_difficulty_breakup: @user_exam_difficulty_breakup %>

<%= link_to 'Show', @user_exam_difficulty_breakup %> |
<%= link_to 'Back', user_exam_difficulty_breakups_path %>
